<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btm.api.mapper.StudentMapper" >



       <select id="getStudent" resultType="com.btm.api.entity.StudentEntity"  parameterType="java.lang.Long" >
           select sid as studentId,sname as studentName,gender from test.student where sid = #{studentId}
       </select>



          <select id="countStudent" resultType="java.lang.Integer" >
              SELECT count(*) FROM test.student
          </select>


        <insert id="insertStudent" parameterType="com.btm.api.entity.StudentEntity" >
            insert into test.student(sname,gender) values (#{studentName},#{gender})
        </insert>

</mapper>